* {
    font-family: "Vazirmatn", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.scale-dialog {
    animation: scale-up 0.3s ease-in-out;
}

@keyframes scale-up {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@media (min-width: 768px) {
    [role="dialog"] {
        max-width: calc(100% - 100px) !important;
    }
}

.rtl-y7ffhw{
    overflow-x: hidden;
}